.ant-menu-light.ant-menu-inline .ant-menu-item {
  padding-left: 8px !important;
}

/* 
.ant-select-selector {
  border-radius: 8px !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
} */
