@import url('./styles/overrides.css');
@import 'tailwindcss';

:root {
  --white: #ffffff;
  --near-white: #f9fafb;
  --charcoal: #181d27;

  --primary: #226b3e;
  --primary-light: #dcfce7;

  --snow: #fdfdfd;

  --smoke: #dcdcdc;
  --smoke-light: #e9eaeb;
}

@theme inline {
  /* colors */
  --color-white: var(--white);
  --color-near-white: var(--near-white);
  --color-charcoal: var(--charcoal);

  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-snow: var(--snow);
  --color-smoke: var(--smoke);
  --color-smoke-light: var(--smoke-light);

  /* font families */
  --font-outfit: var(--font-outfit);
}

body {
  background-color: var(--white);
  color: var(--charcoal);
  font-family: var(--font-outfit);
}

/* ========================================================================== */
/* ====================== Shared Classes ======================= */
/* ========================================================================== */
.light-shadow {
  @apply shadow-[0_1px_4px] shadow-black/10;
}

.border-with-radius {
  @apply border-smoke-light overflow-hidden rounded-2xl border bg-white;
}

/* ================================================= */
/* ====== sidebar stylings ===================== */
/* ================================================= */
.ant-menu-light.ant-menu-inline .ant-menu-item {
  padding-left: 8px !important;
}

.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
  padding-left: 8px !important;
}

.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  padding-left: 28px !important;
}

.ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
  padding-left: 8px !important;
}

.ant-menu-inline.ant-menu-root .ant-menu-submenu-title > .ant-menu-title-content a {
  color: #181d27 !important;
}
